












.action-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    background: var(--cyan);
    color: #000;

    border: none;
    border-radius: var(--r-sm);

    padding: .85rem 1.5rem;

    font-family: 'Space Mono', monospace;
    font-size: .75rem;
    font-weight: 700;

    letter-spacing: .08em;
    text-transform: uppercase;

    cursor: pointer;

    transition: all .3s ease;

    box-shadow: 0 0 20px rgba(0,217,255,.15);
}

.action-btn:hover{
    transform: translateY(-2px);
    box-shadow: 0 0 35px rgba(0,217,255,.35);
}